<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<title>Главная - Доска объявлений</title>
    {% load bootstrap5 %}
	{% bootstrap_javascript %}
	{% bootstrap_css %}

</head>
<body class="m-3">
	<h1>Объявления</h1>
	{% for bb in bbs1 %}
	<div>
		<h2>{{ bb.title }}</h2>
		<p>{{ bb.content }}</p>
		<p>{{ bb.rubric.name}}</p>
		<p>{{ bb.published|date:"d.m.Y. H:i:s"}}</p>
	</div>
	{% endfor %}

	<h1>Рубрики</h1>
	{% for rub in rs %}
		<h2> {{ rub.name }}</h2>
		<ol>
			{% for bb in rub.bb_set.all %}
				<li>
					{{ bb.title }}
					{{ bb.published|date:"d.m.Y. H:i:s"}}
				</li>
			{% endfor%}
		</ol>
	{% endfor%}
</body>
</html>
